html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("images/windows_10.jpg");
    background-size: 100% 100%;
    overflow: hidden;
}

section {
    margin: 0;
    padding: 0;
    user-select: none;
}




.icons li {

    display: inline-block;
    font-size: 4vh;
    line-height: 5vh;

}

.left {
    float: left;
    margin-left: 5px;
}

.right {
    float: right;
    margin-right: 10px;



}



.icons li:hover {
    background-color: rgba(1, 1, 2, 0.2);
}



.pulpit {

    height: 95vh;
    width: 100vw;

}

.pasek {
    width: 100%;
    height: 5vh;
    background-color: rgba(20, 20, 20, 1);
    position: relative;
    z-index: 100;
    color: white;
}

ul.icons.left li {
    padding: 0 10px;
}

.menu {
    left: 0;
    background-color: rgb(165, 152, 152, .9);
    bottom: -320px;
    padding: 20px;
    border-top-right-radius: 10%;
    height: 300px;
    position: absolute;
    z-index: 5;
    /* transition: 0.04s; */
    /* background-image: url("images/jakub-rozalski.jpg");
    background-size: cover; */
    background-color: rgb(14, 14, 14);
}

.menu ul {
    list-style-type: circle;
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 220px;
}

.menu li {
    padding: 4px;
}

.menu ul li:hover {
    background-color: rgb(6, 50, 80);
    cursor: pointer;
}

.menuActive {
    bottom: 0;
    transition: 0.1s;

}